.objectclass{
	width: 160px;
	height: 50px;
	background: #00B0F0;
	border: 1px solid #000000;
}
.leaf{
	width: 160px;
	height: 50px;
	background: #BFBFBF;
	border: 1px solid #000000;
}
.has{
	width: 120px;
	height: 50px;
	border-radius: 30px 30px 30px 30px;
	background: #FFFF00;
	border: 2px solid #000000;
}
.dynamic{
	width: 120px;
	height: 50px;
	border-radius: 30px 30px 30px 30px;
	background: #FFFF00;
	border: 2px dashed #000000;
}
.contenedor{
	border-radius: 30px 30px 30px 30px;
	border: 2px solid #000000;
	width: 200px;
}

.objetivos{
	background: #7030A0;
	border: 3px solid #000000;
	border-radius: 30px 30px 30px 30px;
	width: 140px;
	height: 50px;
}
.blanco{
	top: 10px;
	left: 10px;
	color: #FFFFFF;
}
.rombo{
	width: 350px; 
    height: 350px; 
    border: 2px solid #555; 
    -webkit-transform: rotate(135deg) skew(15deg,15deg);
    -moz-transform: rotate(135deg) skew(15deg,15deg);
    -ms-transform: rotate(135deg) skew(15deg,15deg);
    -o-transform: rotate(135deg) skew(15deg,15deg);
    transform: rotate(135deg) skew(15deg,15deg);
}

.objectclassrombo{
	position: absolute;
	width: 160px;
	height: 100px;
	background: #00B0F0;
	border: 1px solid #000000;
	-webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    left: 150px;
    top: 175px;
}
.leafrombo{
	position: absolute;
	width: 90px;
	height: 50px;
	background: #BFBFBF;
	border: 1px solid #000000;
	left: 69px;
	top: 49px;
}
.igual{
	-webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
	position: absolute;
	background: #92D050;
	border: 2px dashed #000000;
	width: 50px;
	height: 50px;
	border-radius: 30px 30px 30px 30px;
	left: 50px;
	top: 250px;
}
.nota{
	position:  absolute;
	-webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
	border: 1px dashed #000000;
	width: 160px;
	height: 50px;
	top: 60px;
	left: 60ps;
	background: #FFFFFF;
}
.circuloevento{
	height: 300px;
	width: 300px;
	background: #0070C0;
	border: 1px solid #000000;
	border-radius: 160px 160px 160px 160px;
}
.dynamicblanco{
	width: 120px;
	height: 50px;
	border-radius: 30px 30px 30px 30px;
	background: #FFFFFF;
	border: 2px solid #000000;
	position: absolute;
	left: 93px;
	top: 200px;
}
.hasmini{
	width: 110px;
	height: 40px;
	border-radius: 30px 30px 30px 30px;
	background: #FFFF00;
	border: 2px solid #000000;
	position: absolute;
	top: 3px;
	left: 3px;
}
.linea{
	width: 0px;
	border: 1px solid #000000;
}
.triangulo{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
	 width: 0; 
     height: 0; 
     border-left: 20px solid #000000;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent; 
}
#rombo1{
	position: absolute;
	left: 200px;
}
#linea1{
	width: 160px;
	border: 1px solid #000000;
	position: absolute;
	left: 50px;
	top: 275px;
}
#linea2{
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    width: 160px;
	border: 1px solid #000000;
	position: absolute;
	left: -10px;
	top: 190px;
}
#eventoarrives{
	position: absolute;
	left: 1000px;
}
#prototypeevent{
	height: 80px;
	position: absolute;
	top: 60px;
	left: 70px	;
}
#release_dateevent{
	position: absolute;
	height: 30px;
	width: 140px;
	left: 19px;
	top: 49px;
}
#sizas{
	position: absolute;
	left: 10px;
	top: -10px;
}
#arrivesmini{
	position: absolute;
	left: 20px;
	top: -4px;
}
#triangevento{
	position: absolute;
	left: 140px;
	top: 180px;
}
#lineaevento{
	position: absolute;
	height: 120px;
	left: 149px;
	top: 100px;
}
#contenedor1{
	position: absolute;
	height: 250px;
	left: 300px;
}
#builds1{
	position: absolute;
	left: 38px;
	top: 70px;
}
#builds2{
	position: absolute;
	left: 38px;
	top: 160px;
}
#contenedor2{
	position: absolute;
	left: 550px;
	height: 610px;
}
#establishes{
	position: absolute;
	left: 38px;
	top: 70px;
}
#defines{
	position: absolute;
	left: 38px;
	top: 160px;
}
#builds3{
	position: absolute;
	left: 38px;
	top: 250px;
}
#checks{
	position: absolute;
	left: 38px;
	top: 340px;
}
#analyzes{
	position: absolute;
	left: 38px;
	top: 430px;
}
#concludes{
	position: absolute;
	left: 38px;
	top: 520px;
}
#contenedor3{
	position: absolute;
	height: 250px;
	left: 800px;
}
#selects1{
	position: absolute;
	left: 38px;
	top: 70px;
}
#selects2{
	position: absolute;
	left: 38px;
	top: 160px;
}
#contenedor4{
	position: absolute;
	height: 250px;
	left: 1050px;
}
#interacts{
	position: absolute;
	left: 38px;
	top: 70px;
}
#responds{
	position: absolute;
	left: 38px;
	top: 160px;
}
#evento2{
	position: absolute;
	left: 700px;
}
#GAME_DESIGNevent{
	height: 50px;
	position: absolute;
	top: 60px;
	left: 70px	;
}
#rombo2{
	position: absolute;
	left: 1500px;
}
#WORK_DOCUMENT{
	width: 150px;
	position: absolute;
	left: 9px;
}
#audiovisual_of_the_game{
	height: 65px;
}